*{
  margin: 0;
  padding: 0;
}


.header{
  width: 100%;
  min-height: 100vh;
  position: relative;
 
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background: black;
  transition: 1s;
  z-index: 2;
}

nav:hover{
  background-color: rgba(75, 75, 75, 0.329);
}


nav:hover ul li a{
  color: black;
}



nav:hover .sign-out{
  border: 4px solid rgb(0, 0, 0);
  color: black;
}




nav img{
  width: 120px;
  z-index: 2;
}
.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
  font-size: 18px;

}


.trade{
  font-size: 30px;
  color: crimson;
  
  text-decoration: none;
  }

.name{
  position: absolute;
  right: 340px;
  top: 26%;
  color: white;
  margin-top: 10px;
  text-align: center;
  z-index: 2;
}

.name h6{
  color: mediumspringgreen;
  transition: 1s;
  font-size: 15px;
  z-index: 2;
}

.name:hover h6{
  color: deeppink;
  font-size: 20px;
  cursor: pointer;
}


.user{
  position: absolute;
  right: 380px;



}

.user img{
width: 50px;
border-radius: 50%;
margin-top: 10px;
cursor: pointer;
}


.user h1{
  text-align: center;
}

span{
  color: deeppink;
}



.sign-out{
  text-decoration: none;
  padding: 5px 12px;
  border: 4px solid mediumspringgreen;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 12px;
  color: white;
  transition: 1s;
}


.sign-out:hover{
  border: 4px solid deeppink;
  color: deeppink;
  font-size: 18px;
}
  



.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 5px;
  background-color: deeppink;
  margin: auto;
  display: block;
  transition: 1s;

}

.nav-links ul li:hover ::after{
  width: 100%;
}

/*-----------------------------------------------------------------contact form */



.contact-copy{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.gray{
  background: rgb(58, 58, 58);
  z-index: 5;
  width: 59%;
  height: 80vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-top: 1px solid white;
  display: flex;

}

.email-box{
  width: 2%;
  margin-right: 5px;
}

.get{
  font-size: 40px;
  color: mediumspringgreen;
}
H5{
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
}

.p-marg{
  margin-bottom: 10px;
  color: white;
}


.text{
 
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.black{
  background: mediumspringgreen;
  z-index: 6;
  width: 59%;
  height: 8vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-top: 1px solid white;

  
}


/*-----------------------------------------FORM SEND----------------------*/

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;

}

.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
  padding: 10px;
} 

input{
  height: 45px;
}

.form-control-submit{
background: mediumspringgreen;
border-color: transparent;
color: white;
padding: 10px 50px;
font-size: 20px;
font-weight: bold;
letter-spacing: 2px;
height: 50px;
margin-top: 20px;
cursor: pointer;
transition: 1s;
}

.form-control-submit:hover{
  color: black;
  background-color: deeppink;
}

.footer1{
margin-top: 5%;
}


/*---------------------------------media quaries*/


@media(max-width: 1072px){
  .trade{
    font-size: 20px;
    color: crimson;
    text-decoration: none;
    }
.sign-out{
font-size: 7px;
display: none;


}

.form-control-submit{
font-size: 12px;
cursor: pointer;
}
  
.get{
  font-size: 30px
  cursor: pointer;
}

.form-control{
  font-size: 2px;
  width: 300px;
  cursor: pointer;
}


.gray{
  width: 59%;
}


.nav-links ul li{
 display: block;
 font-size: 10px;
 cursor: pointer;
}


.p-marg{
  font-size: 14px;
}

.nav-links ul li:hover ::after{
  width: 0%;
}


}



